# Ignorar a pasta bin e template
/bin/
/template/

# Ignorar arquivos de classe Java
*.class

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários do sistema
*.tmp
*.temp

# Ignorar arquivos de configuração do IDE
.idea/
.vscode/
*.iml
*.class

# Ignorar diretórios de build do Maven, se aplicável
target/
